h2{
    color: brown;
    text-align: center;
}
body{
    background-color:cornflowerblue;
}
img{
    width: 50%;
    border-style: double;
    border-color: red;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.klasa1{
    color:crimson;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.klasa2{
    color: darkmagenta;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}
a{
    color: red;
}
a:hover{
    color: green;
}