table{
    border:2px solid black;
    width: 100%;
}
td{
    border:2px solid red;
    padding: 10px;
    margin: 20px;;
}
#t1 tr:nth-child(3){
    background-color: yellow;
}
#t2 td:nth-of-type(3){
    background-color: blueviolet;
}
#t1 tr:nth-of-type(3){
    background-color: brown;
}
