*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.row{
    width: 100%;
    overflow: hidden;
    /*border: 1px solid red;*/
}

[class*="col-"]{
    float: left;
}

/*Mobilni*/
[class*="col-"]{
    width: 100%;
}

/*Desktop*/
@media only screen and (min-width:1000px){
    .col-1 { width: calc(100%/12); }
    .col-2 { width: calc(100%/12*2)}
    .col-3 { width: calc(100%/12*3)}
    .col-4 { width: calc(100%/12*4)}
    .col-5 { width: calc(100%/12*5)}
    .col-6 { width: calc(100%/12*6)}
    .col-7 { width: calc(100%/12*7)}
    .col-8 { width: calc(100%/12*8)}
    .col-9 { width: calc(100%/12*9)}
    .col-10 { width: calc(100%/12*10)}
    .col-11 { width: calc(100%/12*11)}
    .col-12 { width: 100%}
}

/* STILIZOVANJE ELEMENATA */

header h1{
    background-color: white;
    color: navy;
    text-align: center;
    padding: 10px;
}
nav div{
    background-color:navy;
    border: 1px solid white;
}
nav div a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 5px;
}
nav div a img{
    width: 60%;
    height: 15px;
}
section{
    padding:10px;
}
h1{
    padding: 10px;
}

/*nav2 su evropa,azija...*/
.nav2{
    width: 100%;
    border:1px solid magenta;
}
.nav2 ul{
    list-style-type: none;
}
.nav2 ul li{
    background-color: bisque;
    border: 1px solid white;
    border-radius: 5px;
}
.nav2 ul li a{
    text-decoration: none;
    display: block;    
    padding: 5px;
}

form div{
    width: 100%;
}
input[type=password], textarea{
    width: 100%;
}
input[type=submit]{
    background-color: navy;
    color: white;
    font-size: 20px;
    padding: 16px 32px;
    cursor: pointer;
}
input[type=submit]:focus{
    opacity: 0.7;
}



