*{
    background-color: #9f76b2;
    color:eggplant;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
h1,h2{
    color: #5d071c;
    text-align: center;
}
span{
    color: orange;
}
img{
    width: 400px;
    height: 300px;
    border: 7px dotted #5d071c;
}
.narandzastiTekst{
    color: orangered;
}
#prviParagraf{
    text-align: right;
}
.belaPozadnina{
    background-color: white;
}
div a{
    display: block;
}
.belaPozadnina span{
    background-color: white;
}