table{
    border: 1px solid black;
    border-collapse: collapse;
}
tr{
    border:1px solid black;
}
td{
    border: 1px solid black;
}
img{
    width: 100%;    
}
table tr:nth-child(even) img:hover{
    border:3px solid blue;
    opacity: 0.5;
}
table tr:nth-child(odd) img:hover{
    border: 3px solid red;
    opacity: 0.5;
}

